{
  "tabWidth": 2,
  "arrowParens": "always",
  "semi": true,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "semi": true
      }
    }
  ]
}
